<div class="wrapper" >
    <div class="main">
        <div class="wrapper">
            <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
                <div class="card-container centrar table-responsive marg" style="margin-top: 130px;">
                    <div class="row">
                        <table class="table table-striped table-light table-hover">
                            <thead class=" thead-dark">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col" sortable="name">Adicion</th>
                              <th scope="col" sortable="area">Valor nutricional</th>
                              <th scope="col" sortable="population">Modificar</th>
                              <th scope="col" sortable="population">Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ciruela</td>
                                    <td class="centrar">
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ciruela</td>
                                    <td class="centrar">
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ciruela</td>
                                    <td class="centrar">
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ciruela</td>
                                    <td class="centrar">
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ciruela</td>
                                    <td class="centrar">
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ciruela</td>
                                    <td class="centrar">
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ciruela</td>
                                    <td class="centrar">
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                    <td>
                                        <button routerLink="/home">Regresar</button>
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                          <!-- <ngb-pagination [page]="3" [pageSize]="1" [collectionSize]="7"></ngb-pagination> -->
                          <br>
                          <button class="btn btn-raised btn-block btn-danger" routerLink="/home">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



