<div class="row">
    <div class="col-2 margvid" style="margin-left: 0px;">
        <iframe src="https://www.youtube.com/embed/eqZwoLYEoHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-2 margvid">
        <iframe src="https://www.youtube.com/embed/eqZwoLYEoHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-2 margvid">
        <iframe src="https://www.youtube.com/embed/eqZwoLYEoHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

