<div class="page-header section-dark" style="background-image: url('assets/img/login-image.jpg')">
                <table class="container table-sm" style="margin-top: 120px;" >
                    <thead>
                        <tr>
                            <th style="text-align: center;"><h1 style="text-align: center;">Producto</h1></th>
                            <th style="text-align: center;"><h1>Precio</h1></th>
                            <th style="text-align: center;"><h1>Valor nutricional</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td routerLink="/home">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>6369</td>
                        </tr>
                        <tr>
                            <td routerLink="/home">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>6369</td>
                        </tr>
                        <tr>
                            <td routerLink="/home">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>6369</td>
                        </tr>
                        <tr>
                            <td routerLink="/home">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>6369</td>
                        </tr>
                        <tr>
                            <td routerLink="/home">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>6369</td>
                        </tr>
                        <tr>
                            <td routerLink="/home">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>6369</td>
                        </tr>
                    </tbody>
                </table>
</div>
