<div class="page-header section-dark" style="background-image: url('assets/img/login-image.jpg')">
    <div class="container" style="margin-top: 100px;">
        <div class="title">
            <h1 style="color: white;">Productos</h1>
        </div>
        <div class="row">
            <div class="col">
                <table class="container" >
                    <thead>
                        <tr>
                            <th ><h1>Producto</h1></th>
                            <th ><h1>Precio</h1></th>
                            <th ><h1>Valor nutricional</h1></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td (click)="ver(mostrarprod)">
                                <img src="assets/img/Muffins.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Muffin
                            </td>
                            <td>$4500</td>
                            <td (click)="ver(valn)">ver</td>
                        </tr>

                        <tr *ngFor="let producto of todosProductos">
                            <td (click)="verCambio(mimens, producto)">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                {{producto.nombre}}
                            </td>
                            <td>$ {{producto.precio}}</td>
                            <td (click)="ver(valn,producto.grasa,producto.azucar,producto.sal,producto.proteina)">ver</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" style="background-color: #6c4523; border-color: #6c4523;" (click)="ver(mimens)">Nuevo</button>
            </div>
        </div>
    </div>
    
    
</div>


<ng-template #mimens>
    <form [formGroup]="formularioEditProducto" >
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Titulo</p>
    </div>
    <div class="modal-body">
        
        <div class="row">
            <div class="col-auto">
                <div class="card imagenmed" style="background-color: rgba(114, 114, 114, 0);">
                    <a class="btn btn-fix text-left" >
                      <img class="card-img-top img-fluid rounded" [src]="imageShow" alt="Card image cap" style="background-color: white;">    
                    </a> 
                </div>
                <div class=" centrar">
                    <label for="file-upload" class="subir">
                    <i class=""></i> Subir archivo
                    </label>
                    <input id="file-upload" type="file" (change)="cargarImg($event)" style='display: none;'/>
                    <div id="info"></div>
                </div>
                
            </div>
            
            <div class="col">
                <div class="input-group form-group-no-border">
                      <input [(ngModel)]="productoEdit.nombre" type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                </div>
                <br>
                <div class="input-group form-group-no-border">
                      <input [(ngModel)]="productoEdit.precio" type="number" class="form-control" formControlName="precio" placeholder="Precio">
                </div>
            </div>
        </div>
        <div class="row centrar">
            <p>Valor nutricional</p>
        </div>

                <input [(ngModel)]="productoEdit.grasa" type="number" class="form-control inputtx" formControlName="grasa" placeholder="Grasa">

                <input [(ngModel)]="productoEdit.azucar" type="number" class="form-control inputtx" formControlName="azucar" placeholder="Azucar">

                <input [(ngModel)]="productoEdit.sal" type="number" class="form-control inputtx" formControlName="sal" placeholder="Sal">

                <input [(ngModel)]="productoEdit.proteina" type="number" class="form-control inputtx" formControlName="proteina" placeholder="Proteina">


    </div>
    <div class="modal-footer centrar">
        <button class="btn btn-danger btn-block" (click)="editarProducto()" [disabled]="((!formularioEditProducto.valid) || (!imagenCargada))" style="background-color: #00824a; border-color: #00824a;">Modificar</button>
    </div>
</form>
  </ng-template>

  <ng-template #mostrarprod>
    <form [formGroup]="formularioProducto" >
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Producto nuevo</p>
    </div>
    <div class="modal-body">
        
        <div class="row">
            <div class="col-auto">
                <div class="card imagenmed" style="background-color: rgba(114, 114, 114, 0);">
                    <a class="btn btn-fix text-left" >
                      <img class="card-img-top img-fluid rounded" [src]="imageShow" alt="Card image cap" style="background-color: white;">    
                    </a> 
                </div>
                <div class=" centrar">
                    <label for="file-upload" class="subir">
                    <i class=""></i> Subir archivo
                    </label>
                    <input id="file-upload" type="file" (change)="cargarImg($event)" style='display: none;'/>
                    <div id="info"></div>
                </div>
                
            </div>
            
            <div class="col">
                <div class="input-group form-group-no-border">
                      <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                </div>
                <br>
                <div class="input-group form-group-no-border">
                      <input type="number" class="form-control" formControlName="precio" placeholder="Precio">
                </div>
            </div>
        </div>
        <div class="row centrar">
            <p>Valor nutricional</p>
        </div>

                <input type="number" class="form-control inputtx" formControlName="grasa" placeholder="Grasa">

                <input type="number" class="form-control inputtx" formControlName="azucar" placeholder="Azucar">

                <input type="number" class="form-control inputtx" formControlName="sal" placeholder="Sal">

                <input type="number" class="form-control inputtx" formControlName="proteina" placeholder="Proteina">


    </div>
    <div class="modal-footer centrar">
        <button class="btn btn-danger btn-block" (click)="agregarProducto()" [disabled]="((!formularioProducto.valid) || (!imagenCargada))" style="background-color: #00824a; border-color: #00824a;">Agregar</button>
    </div>
</form>
  </ng-template>

  <ng-template #valn>
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Producto nuevo</p>
    </div>
    <div class="modal-body" style="text-align: center;">
        <p><strong>Valor nutricional</strong></p>
        <br>
        <p>Azucar: {{grasa}} </p>
        <p>Grasa: {{azucar}} </p>
        <p>Sal: {{sal}} </p>
        <p>Proteinas: {{proteina}} </p>
        <br>
    </div>
    <div class="modal-footer centrar">
    </div>
  </ng-template>
  