<div class="about-section">
    <h1></h1>
</div>
  <h2 style="text-align:center">Nuestro Equipo</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./assets/img/Founder1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Info@MielyCanela.com</p>
          <p><button class="button">Contacto</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/img/Founder.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Info@MielyCanela.com</p>
          <p><button class="button">Contacto</button></p>
        </div>
      </div>
    </div>
  </div> 