<div style="background:fixed url('./assets/img/bg2.jpg');">
<div class="about-section">
    <h1></h1>
</div>

    <h2 style="text-align:center; color: #00843D; font-weight: bolder; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifgit ;">Preparaciones</h2> <br>
    <p style="text-align:center; color: #009CDE; font-size:large; font-weight: bold;">Muffins</p>

  <div class="iframe-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/SZNLVpAC0NU" 
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>
</div> <br>

    <p style="text-align:center; color: #009CDE; font-size:large;  font-weight: bold;">Galletas</p>

  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rEdl2Uetpvo" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div> <br>

  <p style="text-align:center; color: #009CDE; font-size:large;  font-weight: bold;">Panes</p>

  <div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EGbNI26PPYg" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div> <br>

<h2 style="text-align:center; color: #00843D; font-weight: bolder;">Nuestro Equipo</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./assets/img/Founder1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Info@MielyCanela.com</p>
          <p><button class="button" routerLink="/contacto">Contacto</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/img/Founder.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Info@MielyCanela.com</p>
          <p><button class="button" routerLink="/contacto">Contacto</button></p>
        </div>
      </div>
    </div>
  </div> 

</div>