<div class="container">
    <div class="tim-title text-center wow zoomIn" >
        <br>
        <h2 style="font-weight: bold;">Ofertas para ti!</h2>
        <br>
        <p>Ofrecemos productos saludables, provocativos y muy deliciosos.</p>
    </div>
    <div class="row centrar">
        <div class="col-4 wow bounceInUp">
            <img src="assets/img/Galletas 2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
            <div class=" img-details text-center" >
                <br>
                <h6 style="font-weight: bold;">Galletas</h6>
                <br>
                <p style="color: rgb(0, 231, 96);">$5.000</p>
            </div>
        </div>
        <div class="col-4 wow bounceInUp">
            <img src="assets/img/Muffins.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
            <div class=" img-details text-center" >
                <br>
                <h6 style="font-weight: bold;">Muffins</h6>
                <br>
                <p style="color: rgb(0, 231, 96);">$5.000</p>
            </div>
        </div>
        <div class="col-4 wow bounceInUp">
            <img src="assets/img/Pan.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
            <div class=" img-details text-center" >
                <br>
                <h6 style="font-weight: bold;">Panes</h6>
                <br>
                <p style="color: rgb(0, 231, 96);">$5.000</p>
            </div>
        </div>
    </div>
</div>