<div class="container">
    <div class="tim-title text-center animated bounceInDown" >
        <br>
        <h2 style="font-weight: bold;">Ofertas para ti!</h2>
        <br>
        <p>Ofrecemos productos saludables, provocativos y muy deliciosos.</p>
    </div>
    <div class="row">
        <div class="col-4 col animated bounceInUp">
            <img src="assets/img/product-1-370x395.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
            <div class=" img-details text-center" >
                <br>
                <h3 style="font-weight: bold;">Producto 1</h3>
                <br>
                <p style="color: rgb(0, 231, 96);">$5.000</p>
            </div>
        </div>
        <div class="col-4 animated bounceInUp">
            <img src="assets/img/product-2-370x395.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
            <div class=" img-details text-center" >
                <br>
                <h3 style="font-weight: bold;">Producto 2</h3>
                <br>
                <p style="color: rgb(0, 231, 96);">$5.000</p>
            </div>
        </div>
        <div class="col-4 animated bounceInUp">
            <img src="assets/img/product-3-370x395.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
            <div class=" img-details text-center" >
                <br>
                <h3 style="font-weight: bold;">Producto 3</h3>
                <br>
                <p style="color: rgb(0, 231, 96);">$5.000</p>
            </div>
        </div>
    </div>
</div>