<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="container centrar" style="margin-top: 100px;">
              <div class="card-deck">
                <div class="card" style="background-color: rgba(114, 114, 114, 0);">
                  <a routerLink="/desayuno" class="btn btn-fix text-left">
                    <img class="card-img-top img-fluid roundedimage rounded" src="assets/img/Desaytie.jpg" alt="Card image cap" >
                    <div class="card-img-overlay centrar">
                      <h1 class="card-title centrar" style="color: white; -webkit-text-stroke: 2px #000000; font-weight: 1000;">Desayunos</h1>
                    </div>
                  </a>
                </div>
                <div class="card" style="background-color: rgba(114, 114, 114, 0);">
                  <a routerLink="/producto" class="btn btn-fix text-left">
                    <img class="card-img-top img-fluid rounded" src="assets/img/prodtie.jpg" alt="Card image cap" >
                    <div class="card-img-overlay centrar">
                      <h1 class="card-title" style="color: white; -webkit-text-stroke: 2px #000000; font-weight: 1000;">Productos</h1>
                    </div>
                  </a>
                </div>
              </div>
        </div>
    </div>
</div>
