<div class="wrapper">

    <!-- <div class="main" style="margin-top: 130px;">
        <app-carrusel></app-carrusel>
    </div> -->

    <div class="page-header section-dark" style="background-image: url('assets/img/Todos.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Bienvenido</h1>
                    <div class="fog-low">
                    </div>
                    <div class="fog-low right">
                    </div>
                </div>
                <!-- <h2 class="presentation-subtitle text-center">Somos una empresa dedicada a la elaboración de productos saludables, provocativos y muy deliciosos para todo el público,
                                                            donde podrán encontrar variedad de opciones que pueden seleccionar a su gusto, creando así productos personalizados.</h2> -->
            </div>
        </div>
    </div>

    <div class="main marg c1b">
        <app-somos></app-somos>
    </div>
    <div class="main marg c1g absolute-center">
        <app-ofertas></app-ofertas>
    </div>
    <div class="main marg c1b">
        <app-menu></app-menu>
    </div>
</div>