<div class="wrapper">
<div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
<div class="container centrar" style="margin-top: 125px;">
<div class="row">

<div class="span9">
<div class="well well-small">
<form class="form-horizontal qtyFrm">
<div class="row-fluid">
    <div class="span5">

                <div class="item active">
                 <a href="#"> <img src="assets/img/Todos 3.jpg" alt="" style="width:100%"></a>
                </div>

    </div>
    <div class="span7">
      <div class="control-group">
      <label class="control-label"><span>Producto</span></label>
      <div class="controls">
        <select class="span11">
          <option>Combo A</option>
          <option>Combo B</option>
          <option>Combo C</option>
        </select>
      </div>
      </div>
      <hr class="soft"/>


        <div class="control-group">
        <label class="control-label"><span>$5000</span></label>
        <div class="controls">
        <input type="number" min="1" class="span6" placeholder="Cantidad">
        </div>
        </div>
        <h4>100 unidades disponibles</h4>
        <p>Descripción
        <p>
        <button type="submit" (click)="showModal()" class="shopBtn"><span class=" icon-shopping-cart"></span> Añadir al carro</button>

    </div>
    </div>
    </form>
      <hr class="softn clr"/>


      <ul id="productDetail" class="nav nav-tabs">
        <li class="active">
          <a href="script:document.getElementById('cat1').style.display='none';void0" data-toggle="tab">Detalles</a>
        </li>
        <li class="dropdown">
          <a href="script:document.getElementById('tab1').style.display='none';#cat1" class="active" data-toggle="tab">Información</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content tabWrapper" id="tab1">
      <h4>Alimentos incluidos</h4>

          <table class="table table-striped">
      <tbody>
      <tr class="techSpecRow"><td class="techSpecTD1">Muffins:</td><td class="techSpecTD2"></td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Jugo Natural:</td><td class="techSpecTD2">Naranaja</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Queso Vegano:</td><td class="techSpecTD2"></td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Fruta:</td><td class="techSpecTD2">Fresas, ciruelas y uvas</td></tr>

      </tbody>
      </table>
      </div>
      <div class="tab-pane fade" id="cat1" style="display:none">

      <div class="row-fluid">
      <h4>Información nutricional</h4>
          <table class="table table-striped">
      <tbody>
      <tr class="techSpecRow"><td class="techSpecTD1">Calorias:</td><td class="techSpecTD2">aaaaa</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Carbohidratos:</td><td class="techSpecTD2">bbbbb</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Vitaminas:</td><td class="techSpecTD2">ccccc</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Grasa:</td><td class="techSpecTD2">ddddd</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Energia:</td><td class="techSpecTD2">eeeee</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Proteina:</td><td class="techSpecTD2">fffff</td></tr>
      </tbody>
      </table>
      </div>
      <hr class="soften"/>
      </div>



</div>
</div>
</div>
</div>
</div>
</div>
