<div class="wrapper">
<div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
<div class="container centrar" style="margin-top: 100px;">
<div class="row">

<div class="span9">
<div class="well well-small">
<form class="form-horizontal qtyFrm">
<div class="row-fluid">
    <div class="span5">

                <div class="item active">
                 <a href="#"> <img src="assets/img/Muffins.jpg" alt="" style="width:100%"></a>
                </div>

    </div>
    <div class="span7">
      <div class="control-group">
      <label class="control-label"><span>Producto</span></label>
      <div class="controls">
        <select class="span11">
          <option>Muffins</option>
          <option>Muffins con mora</option>
        </select>
      </div>
      </div>
      <hr class="soft"/>


        <div class="control-group">
        <label class="control-label"><span>$5000</span></label>
        <div class="controls">
        <input type="number" min="1" class="span6" placeholder="Cantidad">
        </div>
        </div>

        <button type="submit" onclick='alert("Producto agregado.")'  class="shopBtn"><span class=" icon-shopping-cart"></span> Añadir al carro</button>

    </div>
    </div>
    </form>
      <hr class="softn clr"/>


          <ul id="productDetail" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab">Detalles</a></li>
          </ul>
          <div id="myTabContent" class="tab-content tabWrapper">

      <h4>Información nutricional</h4>
      <br>
      <table class="table table-striped">
      <tbody>
      <tr class="techSpecRow"><td class="techSpecTD1">Calorias:</td><td class="techSpecTD2">1</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Carbohidratos:</td><td class="techSpecTD2">1</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Vitaminas:</td><td class="techSpecTD2">1</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Grasa:</td><td class="techSpecTD2">1</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Energia:</td><td class="techSpecTD2">1</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Proteina:</td><td class="techSpecTD2">1</td></tr>
      </tbody>
      </table>


          </div>

</div>
</div>
</div>
</div>
</div>
</div>
