<div class="wrapper">
<div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
<div class="container centrar" style="margin-top: 100px;">
<div class="row">

<div class="span9">
<div class="well well-small">
<div class="row-fluid">
    <div class="span5">
    <div id="myCarousel" class="carousel slide cntr">
              <div class="carousel-inner">
                <div class="item active">
                 <a href="#"> <img src="assets/img/a.jpg" alt="" style="width:100%"></a>
                </div>
                <div class="item">
                   <a href="#"> <img src="assets/img/b.jpg" alt="" style="width:100%"></a>
                </div>
                <div class="item">
                  <a href="#"> <img src="assets/img/e.jpg" alt="" style="width:100%"></a>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>
    </div>
    <div class="span7">
      <h3>Producto [$5000]</h3>
      <hr class="soft"/>

      <form class="form-horizontal qtyFrm">
        <div class="control-group">
        <label class="control-label"><span>$5000</span></label>
        <div class="controls">
        <input type="number" class="span6" placeholder="Cantidad">
        </div>
        </div>

        <div class="control-group">
        <label class="control-label"><span>Opción</span></label>
        <div class="controls">
          <select class="span11">
            <option>Pequeño</option>
            <option>Medianpo</option>
            <option>Grande</option>
            <option>Familiar</option>
          </select>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label"><span>Opción</span></label>
        <div class="controls">
          <select class="span11">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        </div>
        <h4>100 unidades disponibles</h4>
        <p>Descripción
        <p>
        <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Añadir al carro</button>
      </form>
    </div>
    </div>
      <hr class="softn clr"/>


          <ul id="productDetail" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab">Detalles</a></li>
          </ul>
          <div id="myTabContent" class="tab-content tabWrapper">
      <div class="tab-pane fade active in">
      <h4>Información nutricional</h4>
      <table class="table table-striped">
      <tbody>
      <tr class="techSpecRow"><td class="techSpecTD1">Calorias:</td><td class="techSpecTD2">aaaaa</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Carbohidratos:</td><td class="techSpecTD2">bbbbb</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Vitaminas:</td><td class="techSpecTD2">ccccc</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Grasa:</td><td class="techSpecTD2">ddddd</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Energia:</td><td class="techSpecTD2">eeeee</td></tr>
      <tr class="techSpecRow"><td class="techSpecTD1">Proteina:</td><td class="techSpecTD2">fffff</td></tr>
      </tbody>
      </table>
      <p>Descripción.</p>

    </div>
          </div>

</div>
</div>
</div>
</div>
</div>
</div>
