<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" >
    <div class="container">
        <div class="navbar-translate">
            <a *ngIf="!isAdmin()" class="navbar-brand" routerLink="/home" style="margin-bottom: -15px;">
                <img  src="assets/img/LogoMiel2.png" width="88.4" height="78.2" srcset="assets/img/LogoMiel2.png 2x" style="margin-top: -20px;"/>
            </a>

            <a *ngIf="isAdmin()" class="navbar-brand" routerLink="/admin" style="margin-bottom: -15px;">
                <img  src="assets/img/LogoMiel2.png" width="88.4" height="78.2" srcset="assets/img/LogoMiel2.png 2x" style="margin-top: -20px;"/>
            </a>
            
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            
            <ul class="navbar-nav ml-auto">

                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class="nav-link" rel="tooltip" title="Pagina principal" data-placement="bottom" routerLink="/home">Inicio
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class="nav-link" rel="tooltip" title="Tienda" data-placement="bottom" routerLink="/tienda">Tienda
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class="nav-link" rel="tooltip" title="Acerca de nosotros" data-placement="bottom" routerLink="/nosotros">Acerca de nosotros
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class="nav-link" rel="tooltip" title="Contacto" data-placement="bottom" routerLink="/contacto">Contacto
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isAdmin()">
                    <a class = "nav-link" href="#" id="cart" routerLink="/carrito"><i class="fa fa-shopping-cart"></i> Carrito 
                    </a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" rel="tooltip" title="Pagina principal" data-placement="bottom" routerLink="/admin">Inicio
                    </a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" rel="tooltip" title="Tienda" data-placement="bottom" routerLink="/pedidos">Pedidos
                    </a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <a class="nav-link" rel="tooltip" title="Acerca de nosotros" data-placement="bottom" routerLink="/productos">Productos
                    </a>
                </li>
                <li class="nav-item" >
                    <a routerLink="/login" *ngIf="usuarioSer.usuarioActivo.idUsuario==0" class="btn btn-neutral">Iniciar sesión</a>
                    <a routerLink="/login" (click)="cerrarSesion()" *ngIf="usuarioSer.usuarioActivo.idUsuario!=0"class="btn btn-neutral">Cerrar sesion</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
