<div class="wrapper">
    <div class="page-header" style="background:fixed url('./assets/img/bg2.jpg');"> 
        <div class="container">
            <div class="form mb-3">
                <div class="row justify-content-center align-items-center">
                          <h3 class="title" style="color: #00824a;">Contactanos</h3>

                            <form [formGroup]="formularioCorreo" id="reused_form" style="margin-top: 25px; width: 450px;" >
                                <div class="form-group">
                                    <label><i class="fa fa-user" aria-hidden="true"></i> Nombre</label>
                                    <input type="text" name="name" class="form-control" formControlName="nombre" placeholder="Ingrese su nombre">
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-user" aria-hidden="true"></i> Asunto</label>
                                    <input type="text" name="name" class="form-control" formControlName="asunto" placeholder="Ingrese su nombre">
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-envelope" aria-hidden="true"></i> Email</label>
                                    <input type="email" name="email" class="form-control" formControlName="correo" placeholder="Ingrese su Email">
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-comment" aria-hidden="true"></i> Mensaje</label>
                                    <textarea rows="3" name="message" class="form-control" formControlName="cuerpo" placeholder="Escriba su mensaje"></textarea>
                                </div>
                                <div class="form-group">
                                    <button (click)="enviarCorreo()" [disabled]="!formularioCorreo.valid" class="btn btn-raised btn-block btn-success">Enviar</button>
                                </div>
                            </form>
                            <p>{{mensaje}}</p>
                        
                                <img *ngIf="carga" src="https://lh3.googleusercontent.com/-q_P27pcj_y8/WDCbGMaHNfI/AAAAAAAAe-M/a-3Ra5PQn1I/s72-c/gooey_effect-spinner-loader_thumb%25255B1%25255D.gif?imgmax=800" width="100" height="100" >
                                               
                            <div id="error_message" style="width:100%; height:100%; display:none; ">
                            <h4>Error</h4>
                            Sorry there was an error sending your form.
                            </div>
                            <div id="success_message" style="width:100%; height:100%; display:none; ">
                            <h2>Success! Your Message was Sent Successfully.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    