<div class="wrapper">
    <div class="page-header" style="background:fixed url('./assets/img/bg2.jpg');"> 
        <div class="container centrar">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl">
                      <div class="card card-register" style="background-color: rgb(240, 240, 240); color: #00824a;">
                          <h3 class="title" style="color: #00824a;">Contactanos</h3>
                            <form id="reused_form">
                                <div class="form-group">
                                    <label style="font-weight: bolder; color: #00843D; font-size: 22px;"><i class="fa fa-user" style="color: #00843D;" aria-hidden="true"></i> Nombre</label>
                                    <input type="text" name="name" class="form-control" placeholder="Ingrese su nombre">
                                </div>
                                <div class="form-group">
                                    <label style="font-weight: bolder; color: #00843D;  font-size: 22px;"><i class="fa fa-envelope" style="color: #00843D;" aria-hidden="true"></i> Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Ingrese su Email">
                                </div>
                                <div class="form-group">
                                    <label style="font-weight: bolder; color: #00843D; font-size: 22px;"><i class="fa fa-comment" style="color: #00843D;" aria-hidden="true"></i> Mensaje </label>
                                    <textarea rows="3" name="message" class="form-control" placeholder="Escriba su mensaje"></textarea>
                                </div>
    
    
                                <div class="form-group">
                                    <button class="btn btn-raised btn-block btn-success">Enviar</button>
                                </div>
                            </form>
                            <div id="error_message" style="width:100%; height:100%; display:none; ">
                            <h4>Error</h4>
                            Sorry there was an error sending your form.
                            </div>
                            <div id="success_message" style="width:100%; height:100%; display:none; ">
                            <h2>Success! Your Message was Sent Successfully.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>