<div class="wrapper">
<div class="page-header" style="background-image: url('./assets/img/bg2.jpg');">
    <div class="container">
      <div class="card mb-3">
        <div class="main" style="background: transparent;">
            <h1 style="color: #00843D;">Carrito de Compras</h1>
            <h2 class="sub-heading" style="color: #00843D;">Estos son los productos que elegiste</h2>
        
            <section class="shopping-cart">
            <ol class="ui-list shopping-cart--list" id="shopping-cart--list">

                <section class="cart">
                    <ul>
                      <li class="item">
                        <img src="./assets/img/p1.jpg" style="width: 250px; height: 100px;"> 
                        <h3 class="name" style="color: #00843D;">Muffins</h3>
                        <p class="desc">Muffin Unidad, Adición Mora</p>
                              <!-- <div class="input-group">
                                <div class="input-group-btn">
                                <button id="down" class="btn btn-default" onclick=" down('0')"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                                <input type="text" id="myNumber" class="form-control input-number" value="1" />
                                <div class="input-group-btn">
                                    <button id="up" class="btn btn-default" onclick="up('10')"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                              </div> -->
                        <button class="_btn _column product-subtract">-</button> <p class="quantity">1</p> <button class="_btn _column product-plus">+</button>
                        <p class="price">$5.000</p>
                      </li>
                      <li class="item">
                        <img src="./assets/img/Todos 3.jpg" style="width: 250px; height: 100px;">
                        <h3 class="name" style="color: #00843D;">Desayuno </h3>
                        <p class="desc">Desayuno, Combo A</p>
                        <button class="_btn _column product-subtract">-</button> <p class="quantity">1</p> <button class="_btn _column product-plus">+</button>
                        <p class="price">$5.000</p>
                      </li>
                      <!-- <li class="item">
                        <h3 class="name" style="color: #00843D;">Pan </h3>
                        <p class="desc">Descripcion  del producto</p>
                        <button class="_btn _column product-subtract">-</button> <p class="quantity">0</p> <button class="_btn _column product-plus">+</button>
                        <p class="price">$3.000</p>
                      </li> -->
                    </ul>
                  </section>

        
                <!-- <script id="shopping-cart--list-item-template" type="text/template">
                <li class="_grid shopping-cart--list-item">
                    <div class="_column product-image">
                    <img class="product-image--img" src="assets/img/prodtie.jpg" alt="Item image" />
                    </div>
                    <div class="_column product-info">
                    <h4 class="product-name">PAN</h4>
                    <p class="product-desc">Descripcion del producto</p>
                    <div class="price product-single-price">$5.000</div>
                    </div>
                    <div class="_column product-modifiers" data-product-price="{{=price}}">
                    <div class="_grid">
                        <button class="_btn _column product-subtract">&minus</button>
                        <div class="_column product-qty">0</div>
                        <button class="_btn _column product-plus">&plus</button>
                    </div>
                    <button class="_btn entypo-trash product-remove">Remove</button>
                    <div class="price product-total-price">$0.00</div>
                    </div>
                </li>
                </script> -->
        
            </ol>
        
            <footer class="_grid cart-totals">
                <div class="_column subtotal" id="subtotalCtr">
                <div class="cart-totals-key">Subtotal</div>
                <div class="cart-totals-value" style="color: #00843D">$10.000</div>
                </div>
                <div class="_column shipping" id="shippingCtr">
                <div class="cart-totals-key">Envio</div>
                <div class="cart-totals-value" style="color: #00843D">$0.00</div>
                </div>
                <div class="_column total" id="totalCtr">
                <div class="cart-totals-key">Total</div>
                <div class="cart-totals-value" style="color: #00843D">$10.000</div>
                </div>
                <div class="_column checkout">
                <button class="_btn checkout-btn entypo-forward">Pagar</button>
                </div>
            </footer>
        
            </section>
        </div>
      </div>
    </div>
</div> 