<div class="wrapper">
<div class="page-header" style="background-image: url('./assets/img/bg2.jpg');">
    <div class="container">
      <div class="form mb-3">
        <div class="main" style="background: transparent;">
            <h1 style="color: #00843D;">Carrito de Compras</h1>
            <h2 class="sub-heading" style="color: #00843D;">Estos son los productos que elegiste</h2>
        
            <section class="shopping-cart">
            <ol class="ui-list shopping-cart--list" id="shopping-cart--list">

                <section class="cart">
                    <ul>
                      <li class="item">
                        <img src="./assets/img/p1.jpg" style="width: 250px; height: 100px;"> 
                        <h3 class="name" style="color: #00843D;">Muffins</h3>
                        <p class="desc">Muffin Unidad, Adición Mora</p>
                              <!-- <div class="input-group">
                                <div class="input-group-btn">
                                <button id="down" class="btn btn-default" onclick=" down('0')"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                                <input type="text" id="myNumber" class="form-control input-number" value="1" />
                                <div class="input-group-btn">
                                    <button id="up" class="btn btn-default" onclick="up('10')"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                              </div> -->
                        <button class="_btn _column product-subtract">-</button> <p class="quantity">1</p> <button class="_btn _column product-plus">+</button>
                        <p class="price">$5.000</p>
                      </li>
                      <li class="item">
                        <img src="./assets/img/Todos 3.jpg" style="width: 250px; height: 100px;">
                        <h3 class="name" style="color: #00843D;">Desayuno </h3>
                        <p class="desc">Desayuno, Combo A</p>
                        <button class="_btn _column product-subtract">-</button> <p class="quantity">1</p> <button class="_btn _column product-plus">+</button>
                        <p class="price">$5.000</p>
                      </li>
                      <!-- <li class="item">
                        <h3 class="name" style="color: #00843D;">Pan </h3>
                        <p class="desc">Descripcion  del producto</p>
                        <button class="_btn _column product-subtract">-</button> <p class="quantity">0</p> <button class="_btn _column product-plus">+</button>
                        <p class="price">$3.000</p>
                      </li> -->
                    </ul>
                  </section>

        
                <!-- <script id="shopping-cart--list-item-template" type="text/template">
                <li class="_grid shopping-cart--list-item">
                    <div class="_column product-image">
                    <img class="product-image--img" src="assets/img/prodtie.jpg" alt="Item image" />
                    </div>
                    <div class="_column product-info">
                    <h4 class="product-name">PAN</h4>
                    <p class="product-desc">Descripcion del producto</p>
                    <div class="price product-single-price">$5.000</div>             BOTON PAGO PAY U 
                    </div>
                    <div class="_column product-modifiers" data-product-price="{{=price}}">
                    <div class="_grid">
                        <button class="_btn _column product-subtract">&minus</button>
                        <div class="_column product-qty">0</div>
                        <button class="_btn _column product-plus">&plus</button>
                    </div>
                    <button class="_btn entypo-trash product-remove">Remove</button>
                    <div class="price product-total-price">$0.00</div>
                    </div>
                </li>
                </script> -->
        
            </ol>
        
            <footer class="_grid cart-totals">
                <div class="_column subtotal" id="subtotalCtr">
                <div class="cart-totals-key">Subtotal</div>
                <div class="cart-totals-value" style="color: #00843D">$10.000</div>
                </div>
                <div class="_column shipping" id="shippingCtr">
                <div class="cart-totals-key">Envio</div>
                <div class="cart-totals-value" style="color: #00843D">$0.00</div>
                </div>
                <div class="_column total" id="taxesCtr">
                <div class="cart-totals-key">Impuestos</div>
                <div class="cart-totals-value" style="color: #00843D">$1.600</div>
                </div>
                <div class="_column total" id="totalCtr">
                  <div class="cart-totals-key" style="font-weight: bolder;">Total</div>
                  <div class="cart-totals-value" style="color: #00843D">$11.600</div>
                </div>
                <div class="_column checkout">
                  <app-probandopago></app-probandopago>
                </div>
                
                
            </footer>
            <div class="_column total" id="Direccion">
              <div class="cart-totals-key" style="font-size: medium;">Dirección de Envio</div>
              <select class="select-css">
                <option value="Bogota">Bogotá</option>
                <option value="Chía">Chía</option>
                <option value="Cajica">Cajicá</option>
                <option value="Zipaquira">Zipaquirá</option>
              </select>
            <input type="text" name="name" class="form-control" formControlName="dir" style="width: 200px; margin-top: 5px; font-family: sans-serif;" placeholder="Ingrese su Direccion">
            </div>
              
            

            <!-- <form ngNoForm method="post" action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">
              <input name="merchantId"    type="hidden"  value="508029"   >
              <input name="accountId"     type="hidden"  value="512321" >
              <input name="description"   type="hidden"  value="Pago Miel y Canela"  >
              <input name="referenceCode" type="hidden"  value="Pago002" >
              <input name="amount"        type="hidden"  value="10000"   >
              <input name="tax"           type="hidden"  value="0"  >
              <input name="taxReturnBase" type="hidden"  value="0" >
              <input name="currency"      type="hidden"  value="COP" >
              <input name="signature"     type="hidden"  value="f7596d5d29e5f0acf0ebf81c5614208c"  >
              <input name="test"          type="hidden"  value="1" >
              <input name="buyerEmail"    type="hidden"  value="Cliente@mielycanela.com" >
              <input name="responseUrl"    type="hidden"  value="http://localhost:4200/#/carrito" >
              <input name="confirmationUrl"    type="hidden"  value="http://localhost:4200/#/carrito" >
              <input name="Submit"  type="submit"  value="Pagar" >
            </form> -->

            </section>
        </div>
      </div>
    </div>

    

</div> 
</div>
