
  [class*="entypo-"]:before { font-family: 'entypo', sans-serif; }
  body {
      background-color: transparent;
    font: 300 1.25em/1.4 "Lato", sans-serif;
    color: #686868;
  }
  h1, h2, h3, h4, h5, h6 { font-weight: 400; }
  h1, .sub-heading {
    text-align: center;
    margin: .5rem 0 1rem;
  }
  .sub-heading {
    font-size: .75em;
    font-weight: 500;
  }
  
  /**
   * @section: utilities;
   * @see: Justify Grid [http://justifygrid.com/]
   */
  ._grid {
    text-align: justify !important;
    text-justify: distribute-all-lines;
    font-size: 0 !important;
    text-rendering: optimizespeed;
  }
  ._grid:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  ._column {
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    text-align: left;
    text-rendering: optimizeLegibility;
  }
  ._btn {
    display: inline-block;
    margin: auto;
    background-color: #bdc3c7;
    border: none;
    padding: .5em .75em;
    text-align: center;
    font-weight: 300;
  }
  ._btn:hover,
  .cart-totals:hover ._btn {
    background-color: #3498db;
    color: #ecf0f1;
  }
  
  /**
   * @section: shopping-cart;
   */
  .shopping-cart {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
  }
  /**
   * @extends: _grid;
   */
  .shopping-cart--list-item {
    border: 1px solid #bdc3c7;
    margin-bottom: 3rem;
    height: 10rem;
    overflow: hidden;
  }
  .shopping-cart--list-item:hover,
  .shopping-cart--list-item:hover * {
    border-color: #3498db;
  }
  .shopping-cart--list-item > ._column {
      height: 100%; /* make vertical lines match */
  }
  
  /**
   * @section: product-image;
   * @extends: _column;
   */
  .product-image {
    width: 16.663198%;
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") no-repeat center / cover transparent;
  }
  
  /**
   * @section: product-info;
   * @extends: _column;
   */
  .product-info {
    width: 70.832119%;
    padding: .5rem;
  }
  .product-name {
    font: 300 2.4em/1 "Lato", sans-serif;
    letter-spacing: -.025em;
    margin: 0 0 .125em;
  }
  .price {
    line-height: 1;
    text-align: right;
  }
  .product-single-price {
    margin-top: -1rem;
    font-size: 2.4em;
  }
  
  /**
   * @section: product-modifiers;
   * @extends: _column;
   */
  .product-modifiers {
    width: 12.496358%;
    text-align: right;
    border-left: 1px solid #bdc3c7;
  }
  .product-subtract,
  .product-plus,
  .product-qty {
    width: 33.330557%;
    background-color: transparent;
    color: #686868;
    text-align: center;
  }
  .product-qty {
    padding: .35em .75em;
  }
  .product-remove {
    font-size: .875em;
    margin-top: 3.35rem;
    background-color: #e74c3c;
    color: #ecf0f1;
    width: 100%;
    visibility: hidden;
  }
  .product-modifiers:hover .product-remove {
    visibility: visible;
  }
  .product-remove:before {
    margin-right: .5em;
  }
  .product-remove:hover {
    background-color: #c0392b;
  }
  .product-total-price {
    border-top: 1px solid #bdc3c7;
    color: #95a5a6;
    font-size: 1.25em;
    padding: .5rem;
  }
  .shopping-cart--list-item:hover .product-total-price {
    background-color: #3498db;
    color: #ecf0f1;
  }
  
  /**
   * @section: cart-totals;
   * @extends: _grid;
   */
  .cart-totals {
    border-top: 1px solid #bdc3c7;
    margin-bottom: 3rem;
  }
  .cart-totals ._column {
    width: 19.984013%;
    padding: .5rem;
    line-height: 1.2;
  }
  .cart-totals ._column:not(:last-of-type) {
    border-right: 1px solid #bdc3c7;
  }
  .cart-totals ._column:first-of-type {
    padding-left: 0;
  }
  .cart-totals-key {
    font-size: 1.125em;
    color: #bdc3c7;
  }
  .cart-totals ._column:hover .cart-totals-value,
  .cart-totals ._column:hover .cart-totals-key {
    color: #333;
  }
  .cart-totals-value {
    font-size: 2em;
  }
  ._column.checkout {
    text-align: right;
    padding: 0;
    margin-top: 1.5em;
    vertical-align: middle;
  }
  .checkout-btn:before {
    margin-right: .5em;
  }
  ._btn.checkout-btn:hover {
    background-color: #2980b9;
  }
  
  /**
   * Animations
   */
  .product-remove,
  .cart-totals * {
    transition: all .2s ease;
  }
  .closing {
    transition: all .5s ease;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

.item{
      display: flex;
      justify-content: space-between;
      font-family: monospace;
      font-size: 18px;
}

.name {
    font-size: 25px;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
  }

.price {
    font-family: monospace;
    margin-top: 35px;
    font-size: 25px;
    text-align: center;
  }

  @media ( min-width: 50rem ) {
    .cart { padding: 2rem 1rem; }
    .cart .name, 
    .cart .price { font-size: 24px; }
    .cart .item:not(:last-child) { 
      margin-bottom: 1rem; 
      padding-bottom: 1rem;
    }
  }

.container{
    padding-top: 2.5cm;
}

.quantity {
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
  }

.desc {
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 35px;
}
.form {
  margin-top: 70px;
  background-color: beige;
}

.imagen {
  border-radius: 8px;
}

.input-group{
  width: 250px;
  margin: auto;
  background-color: transparent;
}

.glyphicon {
    color: quantity-btn-color;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #00843D;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;

  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}
/* Hover style */
.select-css:hover {
  border-color: #00843D;
}
/* Focus style */
.select-css:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

._column {
  margin-bottom: 15px;
}