<div class="container">
    <div class="text-center wow animated zoomIn">
        <br>
        <h2 style="font-weight: bold;">Nuestro menu</h2>
        <br><br>
    </div>

    <div class="nav-tabs-navigation wow animated jello">
        <div class="nav-tabs-wrapper section" >
            <ngb-tabset [justify]="'justified'" >
                <ngb-tab title="Galletas">
                    <ng-template ngbTabContent>
                        <div class="row">

                        </div>
                        <div class="centrar wow tada">
                            <div class="col-2 centrar marg" style="margin-top: 20px;">
                                <img src="assets/img/Galletas 2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            
                            <div class="col-2">
                                    <h4>Producto 1</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>

                        <div class="centrar wow tada">
                            <div class="col-2 marg" style="margin-top: 20px;">
                                <img src="assets/img/Galletas 2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto 2</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                        <div class="row centrar wow tada">
                            <div class="col-2 marg" style="margin-top: 20px;">
                                <img src="assets/img/Galletas 2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto3</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Panes">
                    <ng-template ngbTabContent>
                        <div class="row centrar wow tada">
                            <div class="col-2 wow tada marg" style="margin-top: 20px;">
                                <img src="assets/img/Pan.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto 4</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                        <div class="row centrar wow tada">
                            <div class="col-2 marg" style="margin-top: 20px;">
                                <img src="assets/img/Pan.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto 5</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                        <div class="row centrar wow tada">
                            <div class="col-2 marg" style="margin-top: 20px;">
                                <img src="assets/img/Pan.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto 6</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Muffins">
                    <ng-template ngbTabContent>
                        <div class="row centrar wow tada">
                            <div class="col-2 marg" style="margin-top: 20px;">
                                <img src="assets/img/Muffins.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto 7</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                        <div class="row centrar wow tada">
                            <div class="col-2 marg" style="margin-top: 20px;">
                                <img src="assets/img/Muffins.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto 8</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                        <div class="row centrar wow tada">
                            <div class="col-2 marg" style="margin-top: 20px;">
                                <img src="assets/img/Muffins.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
                            </div>
                            <div class="col-2">
                                    <h4>Producto 9</h4>
                                    <p>$5.000</p>
                                    <p>Descripcion</p>  
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div> 

</div>