<div class="page-header" style="background-image: url('assets/img/login-image.jpg')">
    <div class="container" style="margin-top: 100px;">
        <div class="title">
            <h1 style="color: white;">Desayunos</h1>
        </div>
        <div class="row">
            <div class="col">
                <table class="container">
                    <thead>
                        <tr>
                            <th ><h1>Desayuno</h1></th>
                            <th ><h1>Precio</h1></th>
                            <th ><h1>Productos</h1></th>
                            <th ><h1>Agregados</h1></th>
                            <th ><h1>Valor nutricional</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td (click)="ver(verdesay)">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>$9518</td>
                            <td (click)="valnut(products)">Producto</td>
                            <td (click)="valnut(agrg)">agregado</td>
                            <td (click)="valnut(valn)">ver</td>
                        </tr>
                        <tr *ngFor="let desayuno of todosDesayunos">
                            <td (click)="verCambio(mimens, desayuno)">
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                {{desayuno.nombre}}
                            </td>
                            <td>$ {{desayuno.precio}}</td>
                            <td (click)="agregarP(products,desayuno)">Producto</td>
                            <td (click)="agregarOtroP(agrg,desayuno)">agregado</td>
                            <td (click)="valnut(valn)">ver</td>                    
                        </tr>

                    </tbody>
                    </table>
                    <br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" style="background-color: #6c4523; border-color: #6c4523;" (click)="ver(nuevodesay)">Nuevo desayuno</button>
            </div>
            <div class="col">
                <button class="btn btn-danger" style="background-color: #6c4523; border-color: #6c4523;" (click)="ver(agregarprod)">Agregar producto</button>
            </div>
        </div>
    </div>
    
</div>

<ng-template #products>
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Productos</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <table class="container">
                    <thead>
                        <tr>
                            <th ><h1>Producto</h1></th>
                            <th ><h1>Nombre</h1></th>
                            <th ><h1>Precio</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>9518</td>
                        </tr>

                        <tr *ngFor="let producto of productosSelec">
                            <td>
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                {{producto.nombre}}
                            </td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.precio}}</td>
                        </tr>
                    </tbody>
                    </table>
                    <br>
            </div>
        </div>
    </div>
    <div class="modal-footer centrar">
        <div class="row">
                <button class="btn btn-danger btn-block" (click)="tablaProductos(agpro)" style="background-color: #009CDE; border-color: #009CDE;">Agregar</button>
        </div>
    </div>
  </ng-template>

  <ng-template #agregarprod>
    <form [formGroup]="formularioOtroP" >
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Producto nuevo</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <div class="input-group form-group-no-border">
                      <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                </div>
                <br>
                <div class="input-group form-group-no-border">
                      <input type="text" class="form-control" formControlName="precio" placeholder="Precio">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer centrar">
        <button class="btn btn-danger btn-block" (click)="agregarOtroProducto()" [disabled]="(!formularioOtroP.valid)" style="background-color: #00824a; border-color: #00824a;">Agregar</button>
    </div>
    </form>
  </ng-template>

  <ng-template #verdesay>
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Titulo</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-auto">
                <div class="card imagenmed" style="background-color: rgba(114, 114, 114, 0);">
                    <a class="btn btn-fix text-left" >
                      <img class="card-img-top img-fluid rounded" src="assets/img/signo.png" alt="Card image cap" style="background-color: white;">
                    </a> 
                </div>
                <div class=" centrar">
                    <label for="file-upload" class="subir">
                    <i class=""></i> Subir archivo
                    </label>
                    <input id="file-upload" type="file" (change)="cargarImg($event)" style='display: none;'/>
                    <div id="info"></div>
                </div>
            </div>
            <div class="col">
                <div class="input-group form-group-no-border">
                      <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <br>
                <div class="input-group form-group-no-border">
                      <input type="text" class="form-control" placeholder="Precio">
                </div>
            </div>
        </div>
        <div class="row centrar">
            <p>Valor nutricional</p>
        </div>
        <input type="number" class="form-control inputtx" placeholder="Grasa">
        <input type="number" class="form-control inputtx" placeholder="Azucar">
        <input type="number" class="form-control inputtx" placeholder="Sal">
        <input type="number" class="form-control inputtx" placeholder="Proteina">
    </div>
    <div class="modal-footer centrar">
        <div class="row">
            <button class="btn btn-danger btn-block" style="background-color: #00824a; border-color: #00824a;">Modificar</button>
        </div>
    </div>
  </ng-template>

  <ng-template #agrg>
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Productos</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <table class="container">
                    <thead>
                        <tr>
                            <th ><h1>Producto</h1></th>
                            <th ><h1>Nombre</h1></th>
                            <th ><h1>Precio</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                Google
                            </td>
                            <td>9518</td>
                            <td>9518</td>
                        </tr>
                        <tr *ngFor="let otro of otrosProductosSelec">
                            <td>
                                <img src="assets/img/Todos 3.jpg" class="imagenpeq" alt="Rounded Image" style="border-radius: 100%;">
                                {{otro.nombre}}
                            </td>
                            <td>{{otro.nombre}}</td>
                            <td>{{otro.precio}}</td>
                        </tr>


                    </tbody>
                    </table>
                    <br>
            </div>
        </div>
    </div>
    <div class="modal-footer centrar">
        <div class="row">
                <button (click)="tablaOtrosProductos(agagr)" class="btn btn-danger btn-block" style="background-color: #009CDE; border-color: #009CDE;">Agregar</button>
        </div>
    </div>
  </ng-template>

  <ng-template #valn>
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Producto nuevo</p>
    </div>
    <div class="modal-body" style="text-align: center;">
        <p><strong>Valor nutricional</strong></p>
        <br>
        <p>Azucar: </p>
        <p>Grasa: </p>
        <p>Sal: </p>
        <p>Proteinas: </p>
        <br>
    </div>
    <div class="modal-footer centrar">
    </div>
  </ng-template>

  <ng-template #nuevodesay>
    <form [formGroup]="formularioDesayuno" >
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Titulo</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-auto">
                <div class="card imagenmed" style="background-color: rgba(114, 114, 114, 0);">
                    <a class="btn btn-fix text-left" >
                      <img class="card-img-top img-fluid rounded" src="assets/img/signo.png" alt="Card image cap" style="background-color: white;">
                    </a> 
                </div>
                <div class=" centrar">
                    <label for="file-upload" class="subir">
                    <i class=""></i> Subir archivo
                    </label>
                    <input id="file-upload" type="file" (change)="cargarImg($event)" style='display: none;'/>
                    <div id="info"></div>
                </div>
            </div>
            <div class="col">
                <div class="input-group form-group-no-border">
                      <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                </div>
                <br>
                <div class="input-group form-group-no-border">
                      <input type="text" class="form-control" formControlName="precio" placeholder="Precio">
                </div>
            </div>
        </div>
        <div class="row centrar">
            <p>Valor nutricional</p>
        </div>
        <input type="number" class="form-control inputtx" formControlName="grasa" placeholder="Grasa">
        <input type="number" class="form-control inputtx" formControlName="azucar" placeholder="Azucar">
        <input type="number" class="form-control inputtx" formControlName="sal" placeholder="Sal">
        <input type="number" class="form-control inputtx" formControlName="proteina" placeholder="Proteina">
    </div>
    <div class="modal-footer centrar">
        <div class="row">
                <button class="btn btn-danger btn-block" (click)="agregarProducto()"  [disabled]="((!formularioDesayuno.valid) || (!imagenCargada))"  style="background-color: #00824a; border-color: #00824a;">Agregar</button>
        </div>
    </div>
</form>
  </ng-template>

  <ng-template #agpro>
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Agregar producto</p>
    </div>
    <div class="modal-body">
        <br>
        <br>
        <div class="row centrar" >
            <select class="sel" id="producto" [(ngModel)]="productoSeleccionado" style="background-color: #009CDE; color: rgb(255, 255, 255);">
                <option   value="hide">Productos</option>
                <option *ngFor="let producto of todosProductos"  value="producto.nombre" [ngValue]="producto">{{producto.nombre}}</option>
            </select> 
            <p>{{mensajeAgregar}}</p>
        </div>
        <br>
        <br>
    </div>
    <div class="modal-footer centrar">
        <button class="btn btn-danger btn-block"(click)="verPro()"   style="background-color: #00824a; border-color: #00824a;">Agregar</button>
    </div>
  </ng-template>

  <ng-template #agagr>
    <div class="modal-header mhead" style="background-color: #009CDE;">
        <p class="heading lead">Agregar producto</p>
    </div>
    <div class="modal-body">
        <br>
        <br>
        <div class="row centrar" >
            <select class="sel" id="mounth" [(ngModel)]="otroProSeleccionado" style="background-color: #009CDE; color: rgb(255, 255, 255);">
                <option value="hide">Productos</option>
                <option *ngFor="let otroP of todosOtrosProductos" [ngValue]="otroP" value="{{otroP.nombre}}">{{otroP.nombre}}</option>
            </select> 
            <p>{{mensajeAgregar}}</p>
        </div>
        <br>
        <br>
    </div>
    <div class="modal-footer centrar">
        <button class="btn btn-danger btn-block"(click)="verOtroP()"  style="background-color: #00824a; border-color: #00824a;">Agregar</button>
        
    </div>
  </ng-template>