<div class="container">
    <div class="row centrar" style="margin-top: 30px; margin-bottom: 10px;">
        <div class="col-8 wow bounceInLeft">
            <img src="assets/img/Todos 3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
        </div>
        <div class="col wow flash">
            <div class="text-center">
                <h2>Somos Miel&Canela</h2>
                <br>
                <p>Somos una empresa dedicada a la elaboración de productos saludables, provocativos y muy deliciosos para todo el público, </p>
                <br>
                <p>donde podrán encontrar variedad de opciones que pueden seleccionar a su gusto, creando así productos personalizados.</p>
            </div>   
        </div>
    </div>
</div>