<footer class="footer">
    <div class="container">
        
        <div class="row centrar">
            <a href="#">
                <img  src="assets/img/LogoMiel2.png" style="margin-top: 20px;" alt="" width="73.6" height="65.1" srcset="assets/img/LogoMiel2.png 2x"/>
            </a>
        </div>

        <div class="row centrar">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Creative Tim</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Licenses</a></li>
                </ul>
            </nav>
        </div>

        <div class="row centrar">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a rel="tooltip" title="Facebook" href="#">
                            <i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a rel="tooltip" title="Instagram" href="#">
                            <i class="fa fa-instagram" aria-hidden="true" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a rel="tooltip" title="Youtube" href="#">
                            <i class="fa fa-youtube" aria-hidden="true" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a rel="tooltip" title="Twitter" href="#">
                            <i class="fa fa-twitter" aria-hidden="true" style="font-size: 24px;"></i>
                        </a>
                    </li>
                    <li>
                        <a rel="tooltip" title="instagram" href="#">
                            <i class="fa fa-heart" aria-hidden="true" style="font-size: 24px;"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="credits ml-auto centrar">
            <span class="copyright">
                © {{test | date: 'yyyy'}}. Miel&Canela Todos los derechos reservados. Design by U.S Dev
            </span>
        </div>
    </div>
</footer>
