<footer class="footer">
    <div class="container">
        
        <div class="row" style="display: flex; align-items: center; justify-content: center; height: 80px;">
            <a href="#">
                <img  src="assets/img/LogoMiel2.png" style="margin-top: 20px;" alt="" width="140" height="57" srcset="assets/img/LogoMiel2.png 2x"/>
            </a>
        </div>

        <div class="row" style="display: flex; align-items: center; justify-content: center;">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav>
        </div>

        <div class="credits ml-auto" style="display: flex; align-items: center; justify-content: center;">
            <span class="copyright">
                © {{test | date: 'yyyy'}}. Miel&Canela Todos los derechos reservados. Design by U.S Dev
            </span>
        </div>
    </div>
</footer>
