<div class="card-container centrar">
    <div class="card-deck">
      <div class="card" style="background-color: rgba(114, 114, 114, 0);">
        <a routerLink="/adminprod" class="btn btn-fix text-left">
          <img src="assets/img/p4.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
          <!-- <img class="card-img-top respon" src="assets/img/prodtie.jpg" alt="Card image cap"> -->
          <div class="card-img-overlay centrar">
            <h1 class="card-title" style="color: white; -webkit-text-stroke: 2px #000000; font-weight: 1000; font-size: 30px;">Productos</h1>
          </div>
        </a>
      </div>
      <div class="card" style="background-color: rgba(114, 114, 114, 0);">
        <a routerLink="/adminadicc" class="btn btn-fix text-left">
          <img src="assets/img/p1.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" style="max-width:100%;width:auto;height:auto;">
          <!-- <img class="card-img-top respon" src="assets/img/prodtie.jpg" alt="Card image cap"> -->
          <div class="card-img-overlay centrar">
            <h1 class="card-title" style="color: white; -webkit-text-stroke: 2px #000000; font-weight: 1000; font-size: 30px;">Adiciones</h1>
          </div>
        </a>
      </div>
      <div class="card" style="background-color: rgba(114, 114, 114, 0);">
        <a routerLink="/adminperson" class="btn btn-fix text-left">
          <img src="assets/img/p3.jpg" class="img-thumbnail" alt="Rounded Image" >
          <!-- <img class="card-img-top respon" src="assets/img/prodtie.jpg" alt="Card image cap"> -->
          <div class="card-img-overlay centrar">
            <h1 class="card-title" style="color: white; -webkit-text-stroke: 2px #000000; font-weight: 1000; font-size: 25px;">Personaliza</h1>
          </div>
        </a>
      </div>
      <div class="card" style="background-color: rgba(114, 114, 114, 0);">
        <a routerLink="/admindesay" class="btn btn-fix text-left">
          <img src="assets/img/p2.jpg" class="img-thumbnail img-responsive" alt="Rounded Image" >
          <!-- <img class="card-img-top respon" src="assets/img/prodtie.jpg" alt="Card image cap"> -->
          <div class="card-img-overlay centrar">
            <h1 class="card-title" style="color: white; -webkit-text-stroke: 2px #000000; font-weight: 1000; font-size: 30px;">Desayunos</h1>
          </div>
        </a>
      </div>
    </div>
</div>
